In [25]:
import pandas as pd

Pierwszym krokiem jaki musimy podjąć celu wykonania tego projektu jest zrozumienie naszych danych i wartości jakie mogą być przyjęte przez poszczególne komórki.

In [26]:
df = pd.read_csv("data/AB_NYC_2019.csv")
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Widzimy powyżej wszystkie dostępne kolumny z jakimi możemy współpracować. Kolejnym krokiem jest sprawdzenie jak wyglądają przykładowe rekordy.

In [27]:
len(df)

48895

In [28]:
df.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

Wyświetlając kilka pierwszych wartości możemy przyjrzeć się prawidłowym i nieprawidłowym wartościom dla każdej z kolumn. Już 3 wiersz posiada wartości 'NaN' w kolumnach "last_review" oraz "reviews_per_month". Należy przyjrzeć się, czy takie zachowanie jest powszechne w naszej bazie danych. Przy okazji, możemy sprawdzić ilość takiego zachowania w innych kolumnach.

In [29]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Widzimy, że poza tymi dwoma wcześniej wspomnianymi kolumnami, wartości NaN nie występują często. Wypełnimy te komórki ciągiem znaków "NONE", a ilość recenzji na miesiąc wartością "0". Brakujące wartości dla name zostaną uzupełnione "Not given". Jako, że samo imię wystawiającego ogłoszenie nie jest dla nas istotne, pozbędziemy się tej kolumny całkowicie z naszej bazy danych. Wystarczającym dla nas określeniem sprzedawcy będzie kolumna "host_id".

In [31]:
df.fillna({'last_review':"NONE"}, inplace=True)
df.fillna({'reviews_per_month':0}, inplace=True)
df.drop("host_name", axis=1, inplace=True)
df.head(3)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NONE,0.00,1,365